/**
    Clock Mechanism CSS
    Based on the clock from: https://codepen.io/rupok/pen/QWZBqe
    Made by @rupok
 */

.clock {
  position: absolute;
  opacity: 1;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.centre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 100;
}

.expand {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
}

.round {
  border-radius: 296px;
}

.circle-1 {
  width: 6px;
  height: 6px;
  border: 3px solid var(--clock-face-hands-color);
  box-sizing: content-box;
}

.circle-2 {
  width: 4px;
  height: 4px;
  border: 2px solid var(--clock-face-second-hand-color);
  box-sizing: content-box;
}

.second-hand {
  width: 2px;
  background: var(--clock-face-second-hand-color);
}

.second-hand-front {
  width: 2px;
  height: 137px;
  background: var(--clock-face-second-hand-color);
  transform: translate(-50%, -100%) translateY(-3px);
}

.second-hand-back {
  width: 2px;
  height: 21px;
  background: var(--clock-face-second-hand-color);
  opacity: 1;
  transform: translate(-50%, -100%) translateY(24px);
}

.hour {
  transform: rotate(304.5deg);
}

.thin-hand {
  width: 4px;
  height: 50px;
  background: var(--clock-face-hands-color);
  transform: translate(-50%, -100%) translateY(-5px);
}

.fat-hand {
  box-sizing: border-box;
  width: 10px;
  height: 57px;
  border-radius: 10px;
  background: var(--clock-face-hands-color);
  transform: translate(-50%, -100%) translateY(-18px);
}

.minute-hand {
  height: 112px;
}

.hour-text {
  font-size: 55px;
  color: var(--clock-face-text-color);
  top: -95px;
}

/* Customize: hour */

.hour-style-text .hour-pill {
  opacity: 0;
}

/* Customize: hour-display */

.hour-display-style-quarters .hour-1,
.hour-display-style-quarters .hour-2,
.hour-display-style-quarters .hour-4,
.hour-display-style-quarters .hour-5,
.hour-display-style-quarters .hour-7,
.hour-display-style-quarters .hour-8,
.hour-display-style-quarters .hour-10,
.hour-display-style-quarters .hour-11 {
  opacity: 0;
}

.hour-display-style-none .hour-item {
  opacity: 0;
}

/* Customize: minute */

.minute-style-dot .part.minute-line,
.minute-style-dot.hour-style-pill .major.minute-line {
  opacity: 0;
}

/* Customize: minute text */
.minute-text-style-none .minute-text {
  opacity: 0;
}

/* Customize: Minute display */
.minute-display-style-none .part.minute-line,
.minute-display-style-none .major.major.minute-line,
.minute-display-style-none .whole.minute-line {
  opacity: 0;
}

/* Customize: hand */

.hand-style-hollow .fat-hand {
  background: black;
  border: 2px solid var(--clock-face-hands-color);
}

/* Date */
.date-complication {
  position: absolute;
  right: -75px;
  display: flex;
  text-transform: uppercase;
  z-index: 1;
  font-size: 14px;
  background: var(--clock-face-date-background-color);
  color: black;
  border-radius: 50px;
  padding: 0 6px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  span {
    margin-right: 5px;
  }
}